{{ define "main" }} This is the single template 

<!-- {{ .Params.myVar }} -->

<!-- {{ $myVarName := "aString" }}
<h1>{{ $myVarName }}</h1> -->

<!-- <h1 style="color:{{ .Params.color }}">Single Template</h1> -->

<!-- {{ truncate 15 "This is a really long string" }}

{{ add 1 5 }}

{{ sub 1 5 }}

{{ singularize "dogs" }} -->

<!-- {{ $var1 := "dog" }}
{{ $var2 := "cat" }} -->

<!-- eq
lt
le
gt 
ge
not -->
<!-- {{ if not (eq $var1 $var2) }}
True
{{else}}
False
{{end}} -->

<!-- {{ $var1 := "1" }}
{{ $var2 := "2" }}
{{ $var3 := "3" }}

{{ if and (lt $var1 $var2) (lt $var1 $var3)}}
True
{{else}}
False
{{end}}

{{end}} -->

<!-- {{ range .Site.Data.states }}

  {{.name}}<br>{{.capital}}<br>
  Location : {{.lat}}, {{.long}}
{{end}} -->

{{ partial "header" (dict "myTitle" "myCustomTitle" "myDate" "myCustomDate") }}

{{ define "footer" }}
This is the singl footer 
{{end}}
